.jumbotronx{
    background-size: cover;
    opacity: .8;
    color: #fff;
    font-size: 12px;
    text-align: left;
    margin-top: 10px;
    padding: 10px;
    height: 150px;

}

footer{
    padding: 10px 10px 0 10px;
    background-color: yellow;
    margin-bottom: 0px;
    margin-top: 10px;
}


.card-hotel {
    flex: 1 200px;
    margin-top: 10px;
}
.btn-reserva{
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon{
    padding-right: 10px;
}

.card img {
        border-radius: 0;
        width: 100%;
}