@yellow: #eddb39;
@red: #f2290a;
@green: #09eb45;
.margenes(@top, @bottom: 0px ){
	margin-top: @top;
	margin-bottom: @bottom;	
}

.jumbotron {
    background-color: @yellow;
    color: black;
    .margenes(50px, 0px);
}

footer{
    padding: 10px 10px 0 10px;
    background-color: @red;
    .margenes(10px, 0px);
}

.card-hotel {
    flex: 1 200px;
    .margenes(10px, 0px)
}
.btn-reserva{
    width: 100%;
    border-radius: 0px;
    background-color: @green;    
}

.footer-address-icon{
    padding-right: 10px;
}

.card img {
        border-radius: 0;
        width: 100%;
}