.jumbotron {
  background-color: #eddb39;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #00cc66;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  background-color: #ff0000;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.card img {
  border-radius: 0;
  width: 100%; }
