$yellow: #eddb39;
$red: #ff0000;
$green: #00cc66;

@mixin margenes($top,$bottom){
	margin-top: $top;
	margin-bottom: $bottom;	
}

.jumbotron {
    background-color: $yellow;
    color: black;
    @include margenes(50px, 0px);
}

footer{
    padding: 10px 10px 0 10px;
    background-color: $green;
    @include margenes(10px, 0px);
}

.card-hotel {
    flex: 1 200px;
    @include margenes(10px, 0px)
}
.btn-reserva{
    width: 100%;
    background-color: $red;    
    border-radius: 0px;
}

.footer-address-icon{
    padding-right: 10px;
}

.card img {
        border-radius: 0;
        width: 100%;
}